@charset "utf-8";
/*
New Perspectives on HTML5 and CSS3, 7th Edition
    Final Project
    
    Presidential Campaign Candidate 
    Author: Katie Kilborn
    Date:   7/9/2024

    Filename: map.css
*/
article {
	float: left;
	width: 384px;
	font-size: 32px;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: rgb(144, 208, 240);
}
aside {
	width: 768px;
	float: left;
}
div#appearances {
	width: 688px;
	margin: 20px 150px;
	position: relative;
}
img#mapAppearances {
	display: block;
	width: 100%;
}


#marker1 {
	position: absolute;
	top: 80px;
	left: 112px;
	max-width: 7%
}
#marker2 {
	position: absolute;
	top: 405px;
	left: 485px;
	max-width: 7%
}
#marker3 {
	position: absolute;
	top: 250px;
	left: 610px;
	max-width: 7%
}
#marker4 {
	position: absolute;
	top: 245px;
	left: 311px;
	max-width: 7%
}
#marker5 {
	position: absolute;
	top: 470px;
	left: 360px;
	max-width: 7%
}
#marker6 {
	position: absolute;
	top: 80px;
	left: 45px;
	max-width: 7%
}
#marker7 {
	position: absolute;
	top: 125px;
	left: 70px;
	max-width: 7%
}
#marker8 {
	position: absolute;
	top: 43px;
	left: 175px;
	max-width: 7%
}